@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@theme{
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  --color-primary:#212159;
  --color-secondary:#000000;
}

/* #293F4A */